:root {
    --smoky-black: #131112;
    --black-coral: #60656F;
    --tuscany: #C49991;
    --dodger-blue: #279AF1;
    --ghost-white: #F7F7FF;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values 
    for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--black-coral);
    color: var(--dodger-blue);
    font-size: 1.75rem;
}

header {
    margin: 0 auto;
    padding: 2.5rem;
}

main {
    margin: 2rem auto;
}

footer {
    padding: 2.5rem;
    margin: 0 auto;
}

section {
    position: relative;
}

header nav {
    text-align: right;
}

nav {
    justify-content: space-between;
    align-items: center;
}

figure {
    display: block;
    position: relative;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 3rem;
    padding: 2rem;
}

h4 {
    font-size: 1.5rem;
}

li {
    display: inline;
    padding: 2rem;
}

p {
    font-size: 2rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: var(--dodger-blue);
}

a:hover {
    text-decoration: underline;
    color: var(--tuscany);
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color: var(--ghost-white);
    font-weight: bold;
}

a:visited:hover {
    text-decoration: underline;
    color: var(--tuscany);
    font-weight: bolder;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    gap: 1.5rem;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.frame-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--tuscany);

    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed var(--ghost-white);
    outline-offset: -2px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.first-frame {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.frame-body {
    max-width: 100%;
}

.frame .frame-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--smoky-black);
    color: var(--ghost-white);
    border: 2px solid var(--ghost-white);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.frame:hover,
.frame:hover .frame-header {
    box-shadow: inset 0 0 0.8rem var(--smoky-black), 0 0 1.5rem var(--ghost-white);
}

.profile-pic {
    border: 1rem solid var(--dodger-blue);
    padding: 2rem;
    margin: 2rem;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.rounded-full {
    border-radius: 100rem;
}

.text-center {
    text-align: center;
}

.page-title {
    padding: 1rem 1.2rem;
}

.page-subtitle {
    padding: 0.5rem 0.4rem;
}

#spiel {
    max-width: 100%;
    margin-left: 0;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .frame-column {
        flex: 0 0 45%;
        max-width: 45%;
    }

    /* select the last child to grow to full width if it has space to grow */
    .frame-column:last-child {
        flex-grow: 1;
    }

    #spiel {
        max-width: 90%;
        margin-left: 5%;
    }

}

/* media query for larger screens */
@media screen and (min-width: 992px) {
    .frame-column {
        flex: 0 0 30;
        max-width: 30%;
    }

    .first-frame {
        max-width: 60%;
        margin: auto;
    }

    #spiel {
        max-width: 75%;
        margin-left: 12.5%;
    }

}